html{
    background-color: white;
   }

body {
    font-family: Arial, Helvetica, sans-serif;
  }

h1 {
    color: black;
    text-align: center;
    font-family: TIActuBeta-Heavy_web,Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 20pt;
    margin-top: 135px;
  }

  h2 {
    color: black ;
    text-align: center;
    font-family: TIActuBeta-Heavy_web,Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 18pt;
    margin-top: 135px;
  }

  h3 {
    color: black ;
    text-align: center;
    font-family: TIActuBeta-Heavy_web,Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 16pt;
    margin-top: 135px;
  }

.p1 {
    font-family: SwiftNeueLTW01,Georgia,serif;
    font-size: 15pt;
    font-weight: none;
    text-align: start;
    color: #414141;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 140px;
  }

.p1 a{
    text-decoration: underline;
    color:black;
}

/*.p1 a:hover {
    color: red;
}*/
  

  
footer {
    font-family: 'Courier New', monospace;
    background-color: #0b0b0b;
    position: fixed;
    font-weight: bold ;
    font-size: 15pt;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }

/*-----------------------------------------------------------SOCIAL MEDIA ICONS----------------------------------------------------*/
.fa {
    padding: 15px;
    font-size: 50px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    color: white;
  }

/*-------------------------------------------------------MENU BAR CONFIG-----------------------------------------------------------*/

.topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0;
  }
  
.topnav #myLinks {
    display: none;
  }
  
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-style: TIActuBeta-ExBold_web,Tahoma,sans-serif;
    display: block;
  }
  
.topnav a.icon {
    background: #0b0b0b;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
.topnav a:hover {
    background-color: green;
    color: black;
  }
  
.active {
    background-color: #0b0b0b;
    color: white;
  }

/*-----------------------------------------LIST CONFIG------------------------------------------------*/

ul {
    font-family: SwiftNeueLTW01,Georgia,serif;
    color: #414141;
    text-decoration: none;
    margin-inline: 10%;
}

ul li {
    border: none;
    margin-top: -1px; /* Prevent double borders */
    padding: 12px; /* Add some padding */
  }

ul a {
    font-family: SwiftNeueLTW01,Georgia,serif;
    color: #414141;
    text-decoration: none;
    font-size: 15pt;
    font-weight: bold;
}

ul a:hover {
    color: red;
}